In [145]:
import pandas as pd
import numpy as np
import os
import datetime
from datetime import date, datetime
import glob
from os.path import dirname, exists
from tqdm import tqdm
tqdm.pandas()

In [146]:
if exists('dataset_SCL.csv'):
    dataset = pd.read_csv('dataset_SCL.csv', sep = ",", decimal = ".", na_values = "NA", encoding='utf8', low_memory = False)

dataset['Fecha-I'] = pd.to_datetime(dataset['Fecha-I'])
dataset['Fecha-O'] = pd.to_datetime(dataset['Fecha-O'])
dataset.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami

**Generando archivo synthetic_features.csv**

In [168]:
def temporadas(row):
    datetime_obj = datetime.strptime(str(row), '%Y-%m-%d %H:%M:%S')
    my_date = datetime_obj.date()
    
    boundarydict = {"Si": [(date(my_date.year, 12, 15), date(my_date.year, 12, 31)),
                           (date(my_date.year, 1, 1), date(my_date.year, 3, 3)),
                           (date(my_date.year, 7, 15), date(my_date.year, 7, 31)),
                           (date(my_date.year, 9, 11), date(my_date.year, 9, 30))],
                    "No": [(date(my_date.year, 3, 4), date(my_date.year, 7, 14)),
                           (date(my_date.year, 8, 1), date(my_date.year, 9, 10)),
                           (date(my_date.year, 12, 1), date(my_date.year, 12, 14))]}
    
    for retval, boundaries in boundarydict.items():
        if any(a <= my_date <= b for a, b in boundaries):
            return retval

In [ ]:
def periodo(row):

In [169]:
synthetic_features = pd.DataFrame(columns=['temporada_alta', 'dif_min', 'atraso_15', 'periodo_dia'], 
                                  index = dataset.index)

In [171]:
synthetic_features['temporada_alta'] = dataset['Fecha-I'].progress_apply(temporadas)

100%|█████████████████████████████████████████████████████████████████████████| 68206/68206 [00:01<00:00, 35549.07it/s]

In [182]:
synthetic_features['dif_min'] = dataset['Fecha-O'] - dataset['Fecha-I']
synthetic_features['dif_min'] = synthetic_features['dif_min'] / np.timedelta64(1,'m')
synthetic_features['dif_min'] = synthetic_features['dif_min'].abs()

In [185]:
synthetic_features['atraso_15'] = synthetic_features['dif_min'].progress_apply(lambda x: 1 if x > 15.0 else 0)

100%|████████████████████████████████████████████████████████████████████████| 68206/68206 [00:00<00:00, 707730.50it/s]

In [186]:
synthetic_features.head(100)

   temporada_alta  dif_min  atraso_15 periodo_dia
0              Si      3.0          0         NaN
1              Si      9.0          0         NaN
2              Si      9.0          0         NaN
3              Si      3.0          0         NaN
4              Si      2.0          0         NaN
..            ...      ...        ...         ...
95             Si     48.0          1         NaN
96             Si      6.0          0         NaN
97             Si      2.0          0         NaN
98             Si     28.0          1         NaN
99             Si     11.0          0         NaN

[100 rows x 4 columns]

in between